.App-footer {
    text-align: center;
    background-color: skyblue;
    padding: 20px 0;
    color: black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 1em;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box; 
}

.footer-column:first-child {
    border-right: 2px solid #ccc; 
}

h4 {
    margin-top: 0;
}

p {
    margin: 5px 0;
}
